colorlog==6.9.0
homeassistant==2025.3.3
pip>=21.0,<25.1
ruff==0.11.6
certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
# numpy==1.22.0
# pkg-resources==0.0.0
shapely==2.0.7
pytest==8.3.5
pdoc==15.0.2