colorlog==6.9.0
homeassistant==2025.3.3
pip>=21.0,<26.1
ruff==0.14.10
certifi==2026.1.4
charset-normalizer==3.4.2
idna==3.10
# numpy==1.22.0
# pkg-resources==0.0.0
shapely==2.0.7
pytest==9.0.2
pdoc==15.0.4